version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile-backend
    container_name: flask-backend
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      dockerfile: Dockerfile-frontend
    container_name: node-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
